/*
	Selectors with a period (.) is for a class.
	Selectors with a hash (#) is for an id.
	Selectors with just an element name is for an HTML element.
*/

.chained-quiz-action {
	padding-top: 20px;
	padding-bottom: 20px;
}

.chained-sidebox
{
	border:1px solid black;
	padding:10px;
	margin-bottom: 20px;
}

#chained-sidebar
{
	float:left;
	width:25%;
}

#chained-related, #chained-ad
{
	background-color: #BBEEDD;
}

.chained-form label {
	width: 150px;
	display: block;
	float: left;
}

textarea.chained-quiz-frontend {
	width: 100%;
}

.one-line {
	display: inline-block;
}

.alternate:nth-child(even) {
	background-color: #F2F2F2;
}

/* .soap-note td {
	background-color: #FFFFFF;
} */

div.soap-note {
	border: 1px solid;
	border-color: #B3B3B3;
	padding: 10px;
	box-shadow: 5px 5px 10px #888888;
}